      .m-slider-v2 .m-slide__media, .m-slider-v2 .m-slide__media img {

    width: 100%;
    padding-top: 24px!important;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
}


.site-header{    --header-main-vertical-padding: 0.2vmin !important;}